* {
    margin: 0;
    padding: 0;
    
}

html {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
}

.bold {
    font-weight: 700;
}

.container {
    min-width: 1440px;
    display: flex;
    justify-content: center;
}

.card {
    background-image: url('/images/bg-pattern-card.svg');
    width: 30rem;
}